/*css default*/
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    }

body{
    font-family: 'Roboto', sans-serif;
}

.container{
    align-items: center;
  }
  
  .flex{
    display: flex;
  }
  
  .column{
    flex-direction: column;
  }

  .top{
    display: flex;
    flex-direction: column;
  }

  /*menu*/

  .menu{
    font-size: 12px;
    height: 60px;
    background-color: rgba(0, 119, 255, 0.849);
    justify-content: space-around;
    align-items: center;
  }

  .logo{
    
  }
  
  .link a{
    font-weight: 600;
    margin: 1rem;
    color: white;
  }

  .login{
    padding: 1%;
    border-radius: 30px;
    font-weight: 600;
    background-color: lightgray;
  }

  .login a{
    color: rgb(56, 56, 56);
    font-weight: 600;
  }
  /*/menu*/

  /*browser*/

  .browser{
    width: 660px;
    margin: 150px 620px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    color: white;
    font-weight: 600;
    line-height: 1.5rem;
  }

  .browser h1{
    font-size: 46px;
    margin-bottom: 40px;
  }

  .browser a:first-of-type{
    margin: 20px;
    padding: 10px 30px;
    border-radius: 30px;
    color: rgb(56, 56, 56);
    background-color: lightgrey;
  }

  .browser a span{
    margin-right: 10px;
    font-size: 20px;
    font-weight: 900;
  }

  /*.browser a:first-of-type::before{
    content: "\1F817";
    font-weight: bolder;
    font-size: 21px;   
    color: rgb(56, 56, 56);
  }*/

  .browser a:last-of-type{
    margin: 20px;
    padding: 10px 30px;
    border-radius: 30px;
    background-color: rgb(56, 56, 56);
    color: white;
  }
/*/browser*/


  .h600{
    width: 1900px;
    height: 600px;
    border: 2px solid black;
    background-color: gold;
  }