/*css default*/
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    }

body{
    font-family: 'Roboto', sans-serif;
}

.container{
    align-items: center;
  }
  
  .flex{
    display: flex;
  }
  
  .column{
    flex-direction: column;
  }

  .top{
    display: flex;
    flex-direction: column;
  }

  .menu{
    height: 60px;
    background-color: rgb(0, 136, 255);
    justify-content: space-around;
    align-items: center;
  }

  .logo{
    
  }

  .link a{
    font-weight: 600;
    margin: 1rem;
    color: white;
  }

  .login button{
    border-color: lightgray;
    background-color: lightgray;
  }

  .browser{
    height: 340px;
  }

  .h600{
    width: 1200px;
    height: 600px;
    border: 2px solid black;
    background-color: gold;
  }