/*css default*/
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    }

body{
    font-family: 'Roboto', sans-serif;
}

.container{
    align-items: center;
  }
  
  .flex{
    display: flex;
  }
  
  .wrap{
    flex-wrap: wrap;
  }

  .column{
    flex-direction: column;
  }

  .h600{
    width: 1900px;
    height: 600px;
  }

  .h800{
    width: 1900px;
    height: 800px;
  }

  /*header*/
  /*menu*/

  .top{
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 119, 255, 0.849);
  }

  .menu{
    font-size: 12px;
    height: 60px;
    justify-content: space-around;
    align-items: center;
  }

  .logo{
    
  }
  
  .link a{
    font-weight: 600;
    margin: 1rem;
    color: white;
  }

  .login{
    padding: 10px 15px;
    border-radius: 30px;
    font-weight: 600;
    background-color: white;
  }

  .login a{
    color: rgb(56, 56, 56);
    font-weight: 600;
  }
  /*/menu*/

  /*browser*/

  .browser{
    width: 660px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    color: white;
    font-weight: 600;
    line-height: 1.5rem;
  }

  .browser h1{
    font-size: 46px;
    margin-bottom: 40px;
  }

  .browser a:first-of-type{
    margin: 20px;
    padding: 10px 30px;
    border-radius: 30px;
    color: rgb(56, 56, 56);
    background-color: white;
  }

  .browser a span{
    margin-right: 10px;
    font-size: 20px;
    font-weight: 900;
  }

  /*.browser a:first-of-type::before{
    content: "\1F817";
    font-weight: bolder;
    font-size: 21px;   
    color: rgb(56, 56, 56);
  }*/

  .browser a:last-of-type{
    margin: 20px;
    padding: 10px 30px;
    border-radius: 30px;
    background-color: rgb(56, 56, 56);
    color: white;
  }
/*/browser*/
/*/heeader*/

/*main*/

.flex .content{
    display: flex;
    justify-content: space-around;
}

.white{
    background-color: white;
}

.lightgrey{
    background-color: rgb(227, 228, 231);
}

.flex .studygroup{
    width: 660px;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    color: black;
    font-weight: 600;
}

.studygroup h2{
    margin: 90px 200px;
    font-size: 35px;
    line-height: 2.5rem;
    margin-bottom: -50px;
}

.content p{
    margin: 80px 200px;
    font-size: 15px;
}
 
.flex .voicecon{
    width: 660px;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    color: black;
    font-weight: 600;
}

.voicecon h2{
    margin: 100px 200px;
    font-size: 35px;
    line-height: 2.5rem;
    margin-bottom: -50px;
}

.flex .fandom{
    width: 660px;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    color: black;
    font-weight: 600;
}

.fandom h2{
    margin: 100px 200px;
    font-size: 35px;
    line-height: 2.5rem;
    margin-bottom: -50px;
}

.flex .forend{
    display: grid;
    justify-items: center;
}

.text{
    text-align: center;
}

.flex .foot{
  flex-direction: column;
  background-color: rgb(67, 67, 67);
}

.footer-link{
  width: 660px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: white;
  font-weight: 600;
  line-height: 1.5rem;
}

.footer-endline{
  font-size: 12px;
  height: 60px;
  background-color: rgb(67, 67, 67);
  justify-content: space-around;
  align-items: center;
}

.signup{
   padding: 10px 15px;
    border-radius: 30px;
    font-weight: 600;
    background-color: rgb(168, 171, 255);
}

.signup a{
  color: white;
  font-weight: 600;
}